@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Roboto:wght@300;500&display=swap');

@font-face {
  font-family: Amellia; /* Гарнитура шрифта */
  src: url(fonts/Amellia.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Mega Surprise"; /* Гарнитура шрифта */
  src: url("fonts/Mega Surprise.ttf"); /* Путь к файлу со шрифтом */
}

h1 {
  color: rgb(33, 188, 56);
  font-family: Amellia, cursive;
}

h2 {
  font-family: "Mega Surprise", serif;
}

p{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
